* {
    font-family: 'Comfortaa';
}

body,
html {
    height: 100%;
    color: #000;
    line-height: 1.8;
}


/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url("../img/mainphoto2.jpeg");
    min-height: 100%;
}


/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("../img/portfolio.jpg");
    min-height: 400px;
}


/* Third image (Contact) */

.bgimg-3 {
    background-image: url("../img/contact.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("../img/mainphoto.jpg");
    min-height: 400px;
}

.bgimg-5 {
    background-image: url("../img/large-travel-map-of-romania.jpg");
    min-height: 400px;
}

#prgC {
    display: none;
}

#photoC {
    display: none;
}

#teachC {
    display: none;
}

.ptfimg {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 16px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}