* {
    font-family: 'Comfortaa';
}

body,
html {
    height: 100%;
    color: #000;
    line-height: 1.8;
}

#prgC {
    display: none;
}

#photoC {
    display: none;
}

#teachC {
    display: none;
}


/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url("../img/mainphoto.jpeg");
    min-height: 100%;
}


/* Second image (Programming) */

.bgimg-2 {
    background-image: url("../img/prgC.jpg");
    min-height: 400px;
}


/* Third image (Photography) */

.bgimg-3 {
    background-image: url("../img/photoC.jpg");
    min-height: 400px;
}


/* Forth image (Teaching) */

.bgimg-4 {
    background-image: url("../img/teachC.jpg");
    min-height: 400px;
}


/* Fifth image (Conctact) */

.bgimg-5 {
    background-image: url("../img/contact.jpg");
    min-height: 400px;
}

.ptfimg {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 16px;
}

.ptfbar {
    border-radius: 10px;
}

.ptfbar:hover p {
    cursor: pointer;
    color: black
    /**/
}

.techicon {
    font-size: 48px;
}

.techicon2 {
    font-size: 32px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}